h3{
    background-color: rgb(12, 97, 126);
}
h1{
    background-image: repeating-linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    text-align: center;
}
body{
    background-color:#e68e0aef;
}

@keyframes ColorChange {
    0%   {background-color:red; }
    25%  {background-color:yellow; }
    50%  {background-color:blue; }
    75%  {background-color:green; }
  }
h2 {
    background-color: red;
    animation-name: ColorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  h4{
      text-align: center ;
  }

  p {
      border: 10px solid #999;
      margin: 40px;
  }
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  table{
      font-style: italic;
  }
  ul{
      font-family: cursive;
  }